{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}

{% block content %}

<a class="backToProblems" href="/problemsets">Back to Problem Page</a>

<div id="LinkedListGIF">
    <img  src="{{ url_for('static', filename='{{categoryName}}GIF.gif') }}" alt="Linked List GIF">
</div>

<br>

<span class="W3LinkedListDescription">W3 Schools Linked List Page: </span> <a class="W3LinkedListDescription" href="https://www.w3schools.com/dsa/dsa_theory_linkedlists.php">More Information</a>

<br>

<a id="logout" href="/logout">Logout</a>

{% endblock %}